
*.[ao]

.DS_Store

macBuild/bin/Debug/**

macBuild/bin/Release/**

macBuild/lib/Debug/**

macBuild/lib/Release/**

macBuild/.DS_Store

macBuild/bin/Debug/.DS_Store

macBuild/bin/Release/.DS_Store

macBuild/lib/.DS_Store
